$ush-white: #ffffff;
$ush-black: #000000;
$ush-black-lighter: #282828;
$ush-gray-lighter:#F5F4F7;
$ush-gray: #FAF9FC;
$ush-gray-font:#8897A0;
$ush-dark-blue: #012E67;
$ush-violet: #52009B;
$ush-green: #00C48C;
